#navbar{
    display: flex;
    align-items: center;
}

#navbar::before{
    content: "";
    background-color: rgb(219, 206, 235);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 12px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    font-family: cursive;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style-type: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color:black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;    
}


#navbar ul li a:hover{
    color: blue;
    background-color: white;  
}

#logo2{
    margin: 12px 34px ;
}

#logo2 img{
    height: 59px;
    margin: 3px 6px;
    margin-left: 550px;
    padding-left:0;
}

.firstcontainer{
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 305%;
    width: 100%;
    background-color: white;
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    color: black;
    text-align: center;
    margin-top: 5px;
    
}
.container{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 50px;
    margin-top: -20px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    border-radius: 100%;
    
}

.container1{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 415px;
    margin-top: -322px;
    border-radius: 12px;
    text-align: center;
}

.imgdiv1{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:200px;
}

.container2{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left:785px;
    margin-top: -322px;
    border-radius: 12px;
    text-align: center;
}

.imgdiv2{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:200px;
}

.container3{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 1150px;
    margin-top: -322px;
    border-radius: 12px;
    text-align: center;
}

.imgdiv3{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:200px;
}

.container4{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 50px;
    margin-top: 36px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv4{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container5{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left:410px;
    margin-top: -312px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv5{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container6{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 780px;
    margin-top: -322px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv6{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container7{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 1150px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv7{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container8{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv8{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container9{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 410px;
    margin-top: -310px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv9{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container10{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 780px;
    margin-top: -310px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv10{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container11{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 1150px;
    margin-top: -310px;
    border-radius: 12px;
    text-align: center;
    
}
.btn a{
    text-decoration: none;
    color: black;
}
.imgdiv11{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container12{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 50px;
    margin-top: -20px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv12{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container13{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 420px;
    margin-top: -305px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv13{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container14{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 780px;
    margin-top: -305px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv14{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container15{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 1150px;
    margin-top: -305px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv15{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container16{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv16{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container17{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 420px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv17{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container18{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 800px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv18{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container19{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 1150px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv19{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container20{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 450px;
    margin-top: 1%;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv20{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container21{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left:820px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv21{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container22{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 1150px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv22{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container23{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 60px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv23{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container24{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 450px;
    margin-top: 10px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv24{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container25{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 60px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv25{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container26{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 820px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv26{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}

.container27{
    border: 2px;
    height: 320px;
    width: 300px;
    background-color: white;
    margin-left: 1150px;
    margin-top: -320px;
    border-radius: 12px;
    text-align: center;
    
}

.imgdiv27{
    height:200px;
    width:278px;
    margin-top:10px;
    margin-left:1px;
    
}








